//Big Button
.big-button {
  background: $purple;
  border: none;
  border-bottom: 0.6rem solid darken($purple, 10%);
  color: white;
  font-weight: bold;
  font-size: 3.2rem;
  width: 100%;
  margin-bottom: 4.8rem;
  padding: 2.4rem;
  &:disabled {
    opacity: 0.5;
  }
}

//Regular Button
.button {
    background: $purple;
    border: none;
    border-bottom: 0.3rem solid darken($purple, 10%);
    color: white;
    font-weight: 500;
    padding: 1.2rem;
}
//modifier syntax in BEM naming convention is --
.button--link {
    background: none;
    border: none;
    color: $off-white;
    padding: 0;
}
