html {
    font-size: 62.5%;
}

body {
    background: $dark-blue;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 1.6rem;
}

.container {
    max-width: 60rem;
    margin: 0 auto;
    padding: 0 1.6rem;
}

button {
  cursor: pointer;
  &:disabled {
    cursor: default;
  }
}